@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@media (max-width: 1000px) {

    .data {
        flex-direction: column;

        h3 {
            font-family: "Playfair Display", serif;
            font-weight: 700;
        }

        .data-image {
            width: 100%;
            img {
                width: 70%;
                padding: 10px;
            }
        }
        .data-text {
            width: 100%;
            p {
                font-family: "Ubuntu", sans-serif;
                font-weight: 500;
            }
        }
    }

}