@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


.wrapper {
    background-color: #282828;
    color: #BF9F50;
    font-family: "Ubuntu", sans-serif;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper a {
    color: #BF9F50;
    font-family: "Ubuntu", sans-serif;
    text-decoration: none;
}


.menu-footer-menu-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 3%;
}

.footer-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: medium;
    text-transform: uppercase;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
}

.footer-line-wrapper {
    width: 100%;
    height: 100%;
}


.line-break {
    padding: 5px 0px;
    width: 1px;
    height: 20px;
    border: 1px solid #BF9F50;
}

.footer-nav-container ul {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    li {
        transition: 0.3s all;
    }

    li:hover {
        color: #bdb192;
        transform: scale(1.2);
    }
}

.footer-nav-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.dizajn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    a {
        padding-left: 5px;
        transition: 0.3s all;
    }
    a:hover {
        color: #c2b79d;
        transform: scale(1.2);
    }
}

.socials {
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
        transition: 0.3s all;
        cursor: pointer;
    }
    

    img:hover {
        color: #bdb192;
        transform: scale(1.1); 
    }
}


@media (max-width: 1200px) {
    .socials {
        width: 20%;
        img {
            width: 40px;
        }
    }

    
    .footer-menu li a {
        font-size: 12px;
    }

    .dizajn {
        font-size: 12px;
    }
    
}

@media (max-width: 1000px) {
    .wrapper {
        height: fit-content;
    }
    .colophon {
        flex-direction: row;
        .socials {
            display: flex;
            flex-direction: column-reverse;
            width: 30%;
            img {
                padding: 5px;
            }
            
        }

        .dizajn {
            width: 20%;
            display: flex;
            flex-direction: column;
            span {
                text-align: center
            };
            p {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            a {
                cursor: pointer;
                font-size: large;
                text-align: center;
                width: 100%;
            }
        }

        .footer-nav-container {
            width: 50%;
            .footer-menu {
                font-size: large;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
            }
        }

        img:nth-child(4) {
            width: 100px;
        }

        .line-break {
            padding: 20px 0px;
            width: 1px;
            height: 120px;
            border: 2px solid #BF9F50;
        }
    }
}   


@media (max-width: 600px) {

    .colophon {
        width: 100%;

        .footer-nav-container {
            width: 35%;
        }
        
        .socials {
            width: 30%;
        }
    
        .dizajn {
            width: 35%;
            font-size: 12px;
        }
    }


}
@media (max-width: 500px) {

    .footer-nav-container {
        width: 30%;
        margin: 0%;
    }
    
    .footer-menu li a {
        font-size: 10px;
    }


}
@media (max-width: 450px) {

    .footer-nav-container {
        width: 100%;
    }
    
    .footer-menu li a {
        font-size: 9px;
    }

}

/* =============== */