@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


.starter {
    padding-top: 100px;
}
.page-banner {
    width: 100%;
    background-size: cover;
}

/* ==================================================== */

.front-page-reservation-container {
    background-color: #BF9F50;
    padding: 15px;

    form {
        color: #282828;
        font-family: "Ubuntu", sans-serif;
        padding: 10px;
        font-size: 20px;

        h1 {
            width: 34%;
            font-family: "Playfair Display", serif;
            font-weight: 700;
            font-size: 24px;
        }

        .input-field {
            width: 23%;
            border: 1px solid black;
            border-radius: 5px;
            color: #282828;
            background-color: transparent;
            padding: 5px 15px;
            text-transform: uppercase;
        }
        
        .input-field::placeholder {
            color: #282828;
            font-family: "Ubuntu", sans-serif;
        }
        
        .submit-button {
            width: 10%;
            color: #BF9F50;
            border: none;
            border-radius: 5px;
            text-transform: uppercase;
            padding: 8px 20px;
            font-weight: 500;
        }
        
        .submit-button:hover {
            background-color: #3d3d3d;
        }
    }

}

/* ==================================================== */

.reservation-overlay {
    height: 100px;
    background-color: #EFEFEF;
    border-bottom: 1px solid grey;
    box-shadow: 0px 3px 3px grey;
}

/* ==================================================== */

.front-page-data {
    background-color: #EFEFEF;
    padding: 0 20px;

    .data-1, .data-2 {

        .data-image {
            background-size: cover;
        }

        .data-text {
            padding: 30px 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;
            font-family: "Ubuntu", sans-serif;
            h3 {
                font-family: "Playfair Display", serif;
                font-weight: 700;
                text-transform: uppercase;
                margin: 10px;
                overflow-x: visible;
                z-index: 3;
            }

            .h3-back {
                width: 70%;
                background-image: url('../../src/images/back-h3.png');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: -10px;
                padding: 20px;
            }

            p {
                margin: 10px;
            }

            button {
                margin: 10px;
                width: 40%;
                color: #BF9F50;
                text-transform: uppercase;
                font-weight: 700;
            }
            button:hover {
                color: #EFEFEF;
                background-color: #3d3d3d;
            }
        }

    }
}

/* ==================================================== */


.front-page-small-footer {
    background-color: #BF9F50;
    height: 100px;
    gap: 20px;
    font-family: "Playfair Display", serif;
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
        font-weight: 700;
    }
    button {
        border-radius: 5px;
        color: #BF9F50;
        font-family: "Ubuntu", sans-serif;
        font-weight: 700;
        text-transform: uppercase;
    }

    button:hover {
        color: #EFEFEF;
        background-color: #3d3d3d;
    }
}

/* ==================================================== */

.front-page-data-2 {
    padding: 20px 0px;

    .data-images {
        gap: 10px;
        display: flex;
        justify-content: start;

        img {
            width: 30%;
            height: fit-content;
        }
    }

    .data-text {
        font-family: "Ubuntu", sans-serif;
    }
}

/* ==================================================== */

.calendar-container {
    position: relative;
    transition: 1s all ease-in;
}

.reservation-overlay {
    background-color: #EFEFEF;
    padding: 20px;
    height: 450px;
    position: absolute;
    z-index: 10;
    top: 20%;
    border-radius: 10px;
    margin-left: 25%;

    button {
        cursor: pointer;
        border: none;
        border-radius: 4px;
        background-color: transparent;
        font-size: medium;
        font-weight: 500;
        text-transform: uppercase;
        transition: .5s all;
    }

    .days, .dates{
        display: grid;
        grid-template-columns: repeat(7,32px);
        gap: 10px;
        margin-block: 10px;
    }
    .days2, .dates2{
        display: grid;
        grid-template-columns: repeat(7,32px);
        gap: 10px;
        margin-block: 10px;
    }

    .days span {
        font-size: medium;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }
    .days2 span {
        font-size: medium;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }

    .dates button {
        color: slategray;
        aspect-ratio: 1;
    }
    .dates2 button {
        color: slategray;
        aspect-ratio: 1;
    }

    .dates button:disabled {
        opacity: 0.5;
        pointer-events: none;
        user-select: none;
    }
    .dates2 button:disabled {
        opacity: 0.5;
        pointer-events: none;
        user-select: none;
    }

    .dates button:hover {
        background-color: lightslategray;
        color: white;
    }
    .dates2 button:hover {
        background-color: lightslategray;
        color: white;
    }

    .dates button.today {
        background-color: #fcfcfc;
        color: black;
    }
    .dates2 button.today {
        background-color: #fcfcfc;
        color: black;
    }

    .dates button.selected {
        background-color: #BF9F50;
        color: black;
    }
    .dates2 button.selected2 {
        background-color: #BF9F50;
        color: black;
    }

    .header-calendar, .header-calendar2 {
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;
        gap: 15px;

        select, input {
            font-size: large;
            font-family: "Ubuntu", sans-serif;
            font-weight: 500;
            border: 1px solid #eee;
        }

        input {
            max-width: 64px;
        }

        button {
            color: slategray;
        }
    }

    .footer-calendar {
        justify-content: flex-end;
        gap: 10px;
        padding-top: 10px;
        border-top: 1px solid #eee;
        font-family: "Ubuntu", sans-serif;

        button {
            background-color: #929292;
            font-family: "Ubuntu", sans-serif;
        }

        button.apply {
            background-color: #BF9F50;
            color: black;
        }
    }
}