@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.reservation-container {
    background-color: #eee;
    padding-top: 140px;
    padding-bottom: 20px;

    .details {
        font-family: "Ubuntu", sans-serif;
        font-weight: 700;
        font-size: larger;
    }
}

.reservation-details {
    background-color: #BF9F50;
    padding: 20px 10px;

    .reservation-check-in {
        margin-bottom: 10px;
        margin-left: 10px 5px;

        p {
            margin: 0%;
        }

        .date {
            font-family: "Ubuntu", sans-serif;
            font-weight: 500;
            background-color: #f3f3f3;
            border: none;
            padding: 10px;
        }
    }
    .reservation-check-out {
        margin-bottom: 10px;
        margin-left: 10px 5px;

        p {
            margin: 0%;
        }

        .date {
            font-family: "Ubuntu", sans-serif;
            font-weight: 500;
            background-color: #f3f3f3;
            border: none;
            padding: 10px;
        }
    }


}

.avalible-apartment {
    background-color: #EFEFEF;
    h3 {
        font-family: "Playfair Display", serif;
        font-weight: 600;
    }
    button {
        font-family: "Playfair Display", serif;
        font-weight: 600;
    }
}


@media (max-width: 1400px) {
    .reservation-container-data {
        .reservation-details {
            width: 30%;
        }
    }

    .avalible-apartment {
        width: 70%;
        h3 {
            text-align: center;
        }
    }
}
@media (max-width: 1200px) {

    .reservation-container {
        hr {
            width: 35%;
        }
        .details {
            width: 30%;
            margin: 0%;
            padding: 0px;
            text-align: center;
        }
    }
    .reservation-container-data {
        .reservation-details {
            width: 40%;
        }
    }

    .avalible-apartment {
        width: 60%;
    }
}
@media (max-width: 1000px) {

    .reservation-container-data {
        display: flex;
        flex-direction: column;
        .reservation-details {
            width: 100%;
            justify-content: center;
            align-items: center;
        }
        .avalible-apartment {
            width: 100%;
        }
    }
}
@media (max-width: 500px) {

        .avalible-apartment {
            width: 100%;
            h3 {
                font-size: 16px;
            }
        }
}

/* ==================================================== */
/*                  Form details                        */
/* ==================================================== */

.forma {
    h1 {
        text-align: center;
        font-family: "Playfair Display", serif;
        font-weight: 600;
    }

    form {
        input, button {
            padding: 5px;
            margin: 5px;
            width: 70%;
            font-family: "Ubuntu", sans-serif;
            font-weight: 300;
        }
    }
}